/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */

body {
  font-family: "Poppins", sans-serif;

  background: #020617;

  color: white;

  overflow-x: hidden;
}

/* ===== ROOT ===== */

#root {
  width: 100%;
  min-height: 100vh;
}

/* ===== SCROLLBAR ===== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* ===== LINKS ===== */

a {
  text-decoration: none;
}